body {
  background-color: var(--bs-gray-900);
  height: 100vh;
}

/* join-card */
.join-card {
  min-height: 30vh;
  min-width: 70%;
}

/* chat-card */
.chat-card {
  max-height: 80vh;
  min-width: 85%;
}

.online-users {
  color: rgb(108, 233, 5);
}

.messages-box {
  height: 60vh;
  background-color: var(--bs-gray-500);
  overflow-y: scroll;
  box-shadow: 2px 2px 2px 0.1px grey inset;
}

.messages-box::-webkit-scrollbar,
.message-input::-webkit-scrollbar {
  width: 0.5em;
}

.messages-box::-webkit-scrollbar-track,
.message-input::-webkit-scrollbar-track {
  /* background: var(--bs-gray-900); */
  width: 2px;
}

.messages-box::-webkit-scrollbar-thumb,
.message-input::-webkit-scrollbar-thumb {
  background-color: #d1d8dd;
  box-shadow: 0 0 2px 0 gray;
  border-radius: 5px;
}

.message {
  background-color: var(--bs-gray-200);
  width: 45%;
  margin: 0;
  margin-bottom: 10px;
}

.message-left {
  border-radius: 5px 5px 5px 0;
}

.message-right {
  align-self: flex-end;
  border-radius: 5px 5px 0 5px;
  background-color: var(--bs-gray-800);
  color: var(--bs-gray-200);
}

.message-input {
  resize: none;
}
